<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= message %></title>
</head>
<body>
    <h1><%= message %></h1>
    <% if(prod) { %>
    <div class="product">
        <h1><%= prod.name %></h1>
        <p><%= prod.desc %></p>
        <p><%= prod.category %></p>
        <p><%= prod.seller %></p>
        <p><%= prod.price %></p>
        <p><%= prod.stars %></p>
        <p><%= prod["add-date"] %></p>
    </div>
    <% } %>
    <a href="/">Go Back to Home Page</a>

</body>
</html>